* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --night-bg: linear-gradient(45deg, 
  rgba(41,17,75,1) 0%, 
  rgba(130,46,150,1) 50%, 
  rgba(0,0,0,1) 100%);

  --day-bg: radial-gradient(circle, 
  rgba(255,255,255,1) 0%, 
  rgba(233,255,7,1) 50%, 
  rgba(254,254,254,1) 100%);

  --main-info-bounds: hsl(0 0% 0%);
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; 
}

body {
  height: 100vh;
  width: 100vw;
  padding: 1em;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-around;
  color: #000;
  position: relative;
  font-size: 20px;
  background: var(--day-bg);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-shadow: 0 0 1em .1em var(--main-info-bounds) inset,
              0 0 5px 1px #12345678 inset;
}

.loader {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('./images/loader.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 300ms ease;
  display: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

@media (max-width: 600px) {
  .main-details {
    width: 100%;
    height: fit-content;
    background-color: #0000005f;
    border-radius: 15px;
    box-shadow: 0 0 .5em 0 #0000005f inset;
    color:  #fff;
  }

  .main-details > div {
    /* display: block; */
    width: 100%;
    text-align: center;
  }

  .date-time {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    justify-content: space-around;
  }

  .time > span:first-of-type {
    margin-right: .4em;
  }

  .main-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2em 0;
  }

  .em-info {
    font-size: 4em;
    font-weight: bold;
    position: relative;
  }
  .em-info::after {
    content: 'C';
    position: absolute;
    font-size: 30px;
  }

  .sec-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .25em 0;
  }

  .sec-info .material-symbols-outlined {
    vertical-align:  sub;
  }

  .curr-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: .75em;
    margin: 2em 0;
  }

  .curr-details > div { 
    width: fit-content;
    margin-inline: 1em;
  }

  #conditions {
    text-transform: capitalize;
  }

  .curr-location {
    display: flex;
  }
  .curr-details input {
    min-width: 100px;
    max-width: fit-content;
    font-size: 18px;
    padding: .2em .5em;
  }

  .predictions-section {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .predictions {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .2em;
    width: 150%;
    height: 40vh;
    margin: 0 auto;
    color: #fff;
    overflow-x: scroll;
  }

  .prediction {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7.75em;
    height: max-content;
    padding: .5em .2em;
    margin-bottom: .2em;
    text-align: center;
    background-color: #0000005f;
    border-radius: 5px;
  }

  .info-wrapper {
    width: 100%;
    margin-top: .25em;
    display: flex;
    justify-content: space-around;
  }
}